:root {
    --title-color: #FFFFFF;
    --background-title: #2F303A;
    --header-link-color: #212121;
    --contakt-header: #757575;
    --akcent-color: #2196F3;
    --heading: #212121;
    --subtitle: #212121;
    --description: #757575;
    --footer-text: #FFFFFF;
    --footer-background: #2F303A;
    --footer-contakt: rgba(255, 255, 255, 0.6);
    --btn-color: #212121;
    --btn-background: #F5F4FA;
    --typical-margin: 10px;
    --icon-color: #AFB1B8;
    --modal-tex:#757575;
    --modal-icon-color: #212121;
    --icon-hover: #FFFFFF;
    --input-btn-hover:#188CE8;;
}